/* Inter Google Fonts Sizes */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
html {
    font-size: 16px;
    overflow-x: hidden;
}

body {
    font-family: 'Inter', sans-serif;
}

/* Gradient background */
.background-1 {
    border-radius: 300px;
    background: linear-gradient(132deg, rgba(60, 140, 244, 0.20) 17.09%, rgba(235, 32, 32, 0.20) 98.68%);
    filter: blur(100px);
}

.background-2 {
    border-radius: 300px;
    background: linear-gradient(132deg, rgba(60, 140, 244, 0.10) 17.25%, rgba(39, 249, 152, 0.10) 59.58%, rgba(206, 235, 32, 0.10) 101.91%);
    filter: blur(100px);
}

/* Swiper Configurations */

.mySwiper {
    position: static;
    user-select: none;
}

.swiper-button-next {
    background-image: url('./assets/svg/arrow-right.svg');
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: center;
    background-size: auto;
    border-radius: 24px;
    width: 44px;
    height: 44px;
    right: 30px;
    top: 202px;
}

.swiper-button-prev {
    background-image: url('./assets/svg/arrow-left.svg');
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: center;
    background-size: auto;
    border-radius: 24px;
    width: 44px;
    height: 44px;
    left: -20px;
    top: 202px;
}

.swiper-button-prev::after {
    content: "";
}

.swiper-button-next::after {
    content: "";
}

@media only screen and (max-width: 1440px) {
    .swiper-button-next {
        display: none;
    }
}

/* Categories settings */
/* .categories-bg {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 50%, rgba(0, 0, 0, 0.70) 99.65%), url('./assets/desktop/CAT1.jpeg'), 50% / auto no-repeat;
} */